.overlay{
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index: 99999;
    position: fixed;
    top:0;
    right: 0;
    -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.overlay2{
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index: 99999;
    position: fixed;
    top:0;
    right: 0;
    -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.sk-cube-grid {
    color:white;
    font-weight: bold;
  width: 250px;
  height:150px;
  position: relative;
  margin:-50px auto;
    top:50%;
}

.sk-cube-grid .sk-cube {
  width: 30%;
  height: 30%;
  background-color: turquoise;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.page-preview{
    background-color: rgba(255,255,255,0.1);
    -webkit-box-shadow: 6px 8px 5px 12px rgba(0,0,0,0.24);
-moz-box-shadow: 6px 8px 5px 12px rgba(0,0,0,0.24);
box-shadow: 6px 8px 5px 12px rgba(0,0,0,0.24);
    border:1px solid gray;
    padding:50px;
    margin-left: 50px;
    margin-right: 50px;
}